.col-md-3.icons-mec {
    color: #a71c20;
    font-size: 30px;
    padding-right: 0 !important;
    text-align: center;
}

.services-padding {
    padding: 50px 0;
}

.main-title-mec {
    font-family: 'Teko', sans-serif;
}