.main-title {
    text-transform: uppercase;
    color: #ffc20f;
}

h1.main-title,
h1.main-title-mec {
    font-size: 4rem;
    font-family: 'Teko', sans-serif;
}

.divider {
    background-image: linear-gradient(135deg, #ffc20f 25%, #a71c20 25%, #a71c20 50%, #ffc20f 50%, #ffc20f 75%, #a71c20 75%, #a71c20 100%);
    background-size: 28px 28px;
    /* background-color: #a71c20; */
    width: 100px;
    height: 8px;
    margin: 60px auto 40px;
}