.references-background {
    background-color: #ffc20e;
}

.references-background li {
    list-style-type: none;
    line-height: 35px;
    margin-bottom: 15px;
}

.references-background li:last-of-type {
    margin-bottom: 0;
}
