.under-construction {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.under-icon {
    font-size: 80px;
    color: #ffc20f;
}

::-moz-selection {
    background-color: #a71c20;
    color: #fff;
}

::selection {
    background-color: #a71c20;
    color: #fff;
}