
a.navbar-brand img.logo {
    width: 125px;
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
   
.navbar-toggler .middle-bar {
    opacity: 0;
}
   
.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
   
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
   
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
   
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.outline-none:focus {
      outline: none;
}

.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(167, 28, 32) !important;
}

.nav-link, .nav-link-button {
    font-family: 'Teko', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 2px
}