.main-title-mec {
    text-transform: uppercase;
    color: #a71c20;
}

h1.main-title {
    font-size: 4rem;
    font-family: 'Teko', sans-serif;
}

.divider {
    background-image: linear-gradient(135deg, #ffc20f 25%, #a71c20 25%, #a71c20 50%, #ffc20f 50%, #ffc20f 75%, #a71c20 75%, #a71c20 100%);
    background-size: 28px 28px;
    /* background-color: #a71c20; */
    width: 100px;
    height: 8px;
    margin: 60px auto 40px;
}

.buttonPrim {
    color: #a71c20;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.3rem;
}

.buttonPrim:hover {
    color: #ffc20f;
}

.certificate {
    width: 100%;
}

.titleCert {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

.closeButton {
    background-color: #ffc20f !important;
    color: black !important;
    border: none !important;
    font-family: 'Teko', sans-serif !important;
    font-size: 20px !important;
}

.textMain {
    margin-bottom: 0px;
}